<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Skybox</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/media-queries.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/js/fancybox/jquery.fancybox.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/js/fancybox/helpers/jquery.fancybox-buttons.css¿v=1.0.2.css" />
<link rel="stylesheet" type="text/css" href="style/js/fancybox/helpers/jquery.fancybox-thumbs.css¿v=1.0.2.css" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300italic,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style/type/fontello.css">
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.megafoliopro.min.js"></script>
<script type="text/javascript" src="style/js/fullwidth-slider.js"></script>
<script type="text/javascript" src="style/js/jquery.easytabs.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
<script type="text/javascript" src="style/js/jquery.dcflickr.1.0.js"></script>
<script type="text/javascript" src="style/js/jquery.jribbble-0.11.0.ugly.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="style/js/jquery.address.min.js"></script>
<script type="text/javascript" src="style/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="style/js/fancybox/helpers/jquery.fancybox-buttons.js¿v=1.0.2"></script>
<script type="text/javascript" src="style/js/fancybox/helpers/jquery.fancybox-thumbs.js¿v=1.0.2"></script>
<script type="text/javascript" src="style/js/fancybox/helpers/jquery.fancybox-media.js¿v=1.0.0"></script>
<script type="text/javascript" src="style/js/jquery.dpSocialTimeline.js"></script>
<script type="text/javascript" src="style/js/jquery.themepunch.showbizpro.js"></script>
</head>
<body class="box-layout">
<!-- Begin Top Wrapper -->
<div class="top-wrapper"> 
  <!-- Begin Inner -->
  <div class="inner"> 
    <!-- Begin Header -->
    <div class="header">
      <div class="logo"> <a href="index.html"><img src="style/images/logo.png" alt="" /></a> </div>
      <ul class="social">
        <li><a href="#"><i class="social-rss"></i></a></li>
        <li><a href="#"><i class="social-twitter"></i></a></li>
        <li><a href="#"><i class="social-facebook"></i></a></li>
        <li><a href="#"><i class="social-dribbble"></i></a></li>
        <li><a href="#"><i class="social-pinterest"></i></a></li>
        <li><a href="#"><i class="social-flickr"></i></a></li>
        <li><a href="#"><i class="social-vimeo"></i></a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <!-- End Header --> 
    <!-- Begin Menu -->
    <div id="menu" class="menu clearfix">
      <ul id="tiny">
        <li><a href="index.html">Home</a>
          <ul>
            <li><a href="index.html">Home Layout 1</a></li>
            <li><a href="index2.html">Home Layout 2</a></li>
            <li><a href="index3.html">Home Layout 3</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Blog</a>
          <ul>
            <li><a href="blog.html">Grid Blog</a></li>
            <li><a href="blog2.html">Full Width Grid</a></li>
            <li><a href="blog3.html">Blog with Sidebar</a></li>
            <li><a href="blog-post.html">Blog Post</a></li>
          </ul>
        </li>
        <li><a href="portfolio-col4.html">Portfolio</a>
          <ul>
            <li><a href="portfolio-col4.html">4 Columns</a></li>
            <li><a href="portfolio-col3.html">3 Columns</a></li>
            <li><a href="portfolio-col2.html">2 Columns</a></li>
            <li><a href="portfolio-post.html">Post 1</a></li>
            <li><a href="portfolio-post2.html">Post 2</a></li>
          </ul>
        </li>
        <li><a href="megafolio.html">Megafolio</a></li>
        <li><a href="videocase.html">Videocase</a>
          <ul>
            <li><a href="videocase.html">Videocase 1</a></li>
            <li><a href="videocase2.html">Videocase 2</a></li>
          </ul>
        </li>
        <li><a href="social.html">Social</a></li>
        <li><a href="about.html">Features</a>
          <ul>
            <li><a href="index.html">Box Layout</a></li>
          	<li><a href="../full/index.html">Full Layout</a></li>
            <li><a href="backgrounds.html">Backgrounds</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing-table.html">Pricing Table</a></li>
            <li><a href="columns.html">Columns</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="tab-toggle.html">Tabs and Toggle</a></li>
            <li><a href="button-box.html">Buttons and Boxes</a></li>
            <li><a href="retina-icons.html">Retina Icons</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- End Menu -->  
  </div>
  <!-- End Inner --> 
</div>
<!-- End Top Wrapper --> 

<!-- Begin Box Wrapper -->
<div class="box-wrapper"> 
<!-- Begin White Wrapper -->
<div class="white-wrapper"> 
  <!-- Begin Inner -->
  <div class="inner">
    <div class="page-intro line clearfix">
      <h1 class="page-title">Services</h1>
    </div>
    <div class="intro">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
    <div class="one-third">
      <h4><i class="icon-monitor awe"></i>Web Design</h4>
      <p>Aenean leo quam. Pellentesque sem ueornare lacinia venenatis vestibulum, maecenas sed diam eget risus varius blandit sit amet magna.</p>
    </div>
    <div class="one-third">
      <h4><i class="icon-picture-1 awe"></i>Graphic Design</h4>
      <p>Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div class="one-third last">
      <h4><i class="icon-video awe"></i>Motion Graphic</h4>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed posuere consectetur.</p>
    </div>
    <div class="clear"></div>
    <br />
    <div class="one-third">
      <h4><i class="icon-camera awe"></i>Photography</h4>
      <p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus.</p>
    </div>
    <div class="one-third">
      <h4><i class="icon-mobile awe"></i>Applications</h4>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <div class="one-third last">
      <h4><i class="icon-feather awe"></i>Illustration</h4>
      <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <div class="clear"></div>
    <hr />
    <h3>General Process of Our Works</h3>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <div class="tabs side-tab-container">
      <ul class="etabs">
        <li class="tab"><a href="#tab-1"><span>1.</span> Inceptos Parturient</a></li>
        <li class="tab"><a href="#tab-2"><span>2.</span> Amet Parturient Cursus</a></li>
        <li class="tab"><a href="#tab-3"><span>3.</span> Magna Vulputate Adipiscing</a></li>
        <li class="tab"><a href="#tab-4"><span>4.</span> Nibh Consectetur Dolor</a></li>
        <li class="tab"><a href="#tab-5"><span>5.</span> Dolor Vehicula Cras</a></li>
        <li class="tab"><a href="#tab-6"><span>6.</span> Mollis Pellentesque Cursus</a></li>
      </ul>
      <div class="panel-container">
        <div id="tab-1" class="tab-item">
          <h4>Inceptos Parturient</h4>
          <p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. </p>
          <h4>Cras justo odio vel scelerisque nisl</h4>
          <img src="style/images/art/t1.jpg" alt="" class="left" />
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus. </p>
        </div>
        <div id="tab-2" class="tab-item">
          <h4>Amet Parturient Cursus</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <img src="style/images/art/t2.jpg" alt="" class="right" /> Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        <div id="tab-3" class="tab-item">
          <h4>Magna Vulputate Adipiscing</h4>
          <p>Cum sociis natoque penatibus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. </p>
          <div class="video">
            <iframe src="http://player.vimeo.com/video/11513701?title=0&byline=0&portrait=0&badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
        <div id="tab-4" class="tab-item">
          <h4>Nibh Consectetur Dolor</h4>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <p>Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        <div id="tab-5" class="tab-item">
          <h4>Dolor Vehicula Cras</h4>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <img src="style/images/art/t3.jpg" alt="" class="center" />
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. </p>
        </div>
        <div id="tab-6" class="tab-item">
          <h4>Mollis Pellentesque Cursus</h4>
          <p>Donec sed odio dui. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. </p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. </p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">    
	$(document).ready( function() {
      $('.tabs').easytabs({
	      animationSpeed: 300,
	      updateHash: false
      });
		var $tabContainer = $('.side-tab-container'),
		    $tabs = $tabContainer.data('easytabs').tabs,
		    $tabPanels = $(".tab-item")
		    totalSize = $tabPanels.length;
		
		$tabPanels.each(function(i){
		  if (i != 0) {
		    prev = i - 1;
		    $(this).prepend("<a href='#' class='prev-tab btn success' rel='" + prev + "'><i class='icon-left-open'></i></a>");
		  } else {
		    $(this).prepend("<span class='prev-tab btn'><i class='icon-left-open'></i></span>");
		  }
		  if (i+1 != totalSize) {
		    next = i + 1;
		    $(this).prepend("<a href='#' class='next-tab btn success' rel='" + next + "'><i class='icon-right-open'></i></a>");
		  } else {
		    $(this).prepend("<span class='next-tab btn'><i class='icon-right-open'></i></span>");
		  }
		});
		
		$('.next-tab, .prev-tab').click(function() {
		  var i = parseInt($(this).attr('rel'));
		  var tabSelector = $tabs.children('a:eq(' + i + ')').attr('href');
		  $tabContainer.easytabs('select', tabSelector);
		  return false;
		});
	});
    </script> 
  </div>
  <!-- End Inner --> 
  
</div>
<!-- End White Wrapper --> 
<div class="divider white-wrapper"></div>
<!-- Begin Footer -->
<div class="footer-wrapper">
  <div class="footer-light"></div>
  <div class="footer">
    <div class="one-fourth">
      <h3>Search</h3>
      <form class="searchform" method="get">
        <input type="text" id="s" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'"/>
      </form>
      <h3>Archive</h3>
      <ul>
        <li><a href="#">August 2012</a> (11)</li>
        <li><a href="#">July 2012</a> (30)</li>
        <li><a href="#">June 2012</a> (3)</li>
        <li><a href="#">May 2012</a> (21)</li>
        <li><a href="#">April 2012</a> (8)</li>
        <li><a href="#">March 2012</a> (9)</li>
      </ul>
    </div>
    <div class="one-fourth">
      <h3>Twitter</h3>
      <div id="twitter-footer"></div>
    </div>
    <div class="one-fourth">
      <h3>Popular Posts</h3>
      <ul class="post-list">
        <li>
          <div class="frame"> <a href="blog-post.html"><img src="style/images/art/a1.jpg" alt="" /></a> </div>
          <div class="meta">
            <h6><a href="blog-post.html">Magna Mollis Ultricies</a></h6>
            <em>3th Oct 2012</em> </div>
        </li>
        <li>
          <div class="frame"> <a href="blog-post.html"><img src="style/images/art/a2.jpg" alt="" /></a> </div>
          <div class="meta">
            <h6><a href="blog-post.html">Ornare Nullam Risus</a></h6>
            <em>28th Sep 2012</em> </div>
        </li>
        <li>
          <div class="frame"> <a href="blog-post.html"><img src="style/images/art/a3.jpg" alt="" /></a> </div>
          <div class="meta">
            <h6><a href="blog-post.html">Euismod Nullam</a></h6>
            <em>15th Aug 2012</em> </div>
        </li>
      </ul>
    </div>
    <div class="one-fourth last">
      <h3>Contact Form</h3>
      <!-- Begin Form -->
      <div class="form-container">
        <div class="response"></div>
        <form class="forms" action="contact/form-handler.php" method="post">
          <fieldset>
            <ol>
              <li class="form-row text-input-row">
                <input type="text" name="name" class="text-input required defaultText" title="Name*"/>
              </li>
              <li class="form-row text-input-row">
                <input type="text" name="email" class="text-input required email defaultText" title="Email*"/>
              </li>
              <li class="form-row text-area-row">
                <textarea name="message" class="text-area required defaultText"></textarea>
              </li>
              <li class="form-row hidden-row">
                <input type="hidden" name="hidden" value="" />
              </li>
              <li class="button-row">
                <input type="submit" value="Submit" name="submit" class="btn-submit" />
              </li>
            </ol>
            <input type="hidden" name="v_error" id="v-error" value="Required" />
            <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
          </fieldset>
        </form>
      </div>
      <!-- End Form --> 
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- End Footer --> 
<!-- Begin Site Generator -->
<div class="site-generator-wrapper">
  <div class="site-generator">
    <div class="copyright">
      <p>Â© 2012 Skybox. All rights reserved. Theme by <a href="#">elemis</a>.</p>
    </div>
  </div>
</div>
<!-- End Site Generator --> 
</div>
<!-- End Box Wrapper --> 
<script type="text/javascript" src="style/js/scripts.js"></script>

<!-- DEMO ONLY -->
<link rel="alternate stylesheet" type="text/css" href="switcher/bg1.css" title="bg1-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg2.css" title="bg2-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg3.css" title="bg3-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg4.css" title="bg4-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg5.css" title="bg5-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg6.css" title="bg6-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg7.css" title="bg7-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg8.css" title="bg8-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg9.css" title="bg9-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg10.css" title="bg10-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg11.css" title="bg11-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg12.css" title="bg12-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg13.css" title="bg13-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg14.css" title="bg14-bg" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/bg15.css" title="bg15-bg" media="screen" />
<script type="text/javascript" src="switcher/switchstylesheet.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
	$(".changebg").switchstylesheet( { seperator:"bg"} );
});
</script>
</body>
</html>
